html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Roboto', sans-serif !important;
  text-transform: inherit;
}

select, option, button, input, textarea {
  font-family: 'Roboto', sans-serif !important;
}

a {
  font-family: 'Roboto', sans-serif !important;
}

body, html {
  direction: ltr;
  font-family: 'Roboto', sans-serif !important;
}

.float {
  float: left;
}

.padding_left5 {
  padding-right: 5px !important;
}

.header_section_1 {
  text-align: left;
}

.header_section_3 {
  text-align: right;
}

ul#searchList {
  text-align: left;
}

.login_key i {
  padding-right: 7px;
}

.user_panel_login {
  text-align: right;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  position: relative;
}

.user_panel_login {
  text-align: left;
}

ul.user_menu {
  left: -31px;
}

.user_menu li.exit a i {
  padding-left: 5px;
}

.user_menu li.exit a:hover {
  padding-left: 5px;
}

.nav_full .menu ul li.special {
  float: right;
}

li.special_disable {
  float: right;
  font-size: 1.1em;
}

li.special_disable a i {
  padding-right: 10px;
}

.nav_full .menu ul li.special a {
  font-size: 1.1em;
}

.nav_full .menu ul li.special a i {
  padding-right: 10px;
}

.nav_full .menu .has_sub_menu ul {
  left: -45px;
}

.nav_full .menu .has_sub_menu ul li a {
  text-align: left;
}

.nav_full .menu .has_sub_menu ul ul {
  left: 251px;
}

.categories li.sub_lvl_1 .sub_menu_level_1 .sub_menu_level_2 .activelvl3 .sub_menu_level_3 {
  border-right: 1px solid #e1e1e1;
}

.input_search input {
  padding-left: 5px;
}

.arrow>a:after {
  padding-right: 3px;
  right: 5px;
  content: "\f105";
}

.category_icon {
  margin-right: 10px;
}

.slider_container {
  float: right;
}

.slick-track {
  float: left;
}

.tiles_image_row.custom_block .tile_title {
  padding-right: 10px;
}

.sales_expert h5 {
  padding-right: 10px;
}

.select_search select {
  padding-left: 5px;
}

.sales_expert .expert_slider .slider-nav2 .slick-track {
  float: left;
}

.sales_expert .expert_slider .slider-nav2 .slick-track .slick-slide {
  float: left;
}

.sales_expert .expert_carousel_box .expert_carousel_box_desc {
  padding-left: 10px;
}

.responsive_sales_expert .carousel_item.slick-slide {
  margin-left: 15px;
}

.slider-for2.slick-initialized.slick-slider:after {
  right: 50px;
}

.category_selected a {
  float: left;
  margin-right: 15px;
}

.percent_discount {
  right: 38px;
}

.percent_discount::before {
  right: 0;
}

.product_header .product_header_right {
  text-align: left;
}

.product_header .product_header_left {
  text-align: right;
}

.product_header .product_header_left .show_all:after {
  padding-left: 10px;
  content: "\f105";
}

.product_header .product_header_left .show_all:hover:after {
  content: "\f101";
}

.content-details {
  right: 50%;
}

.product_box:hover .content-details {
  left: 50%;
}

.option-input {
  top: 7px;
}

.option-input:checked::before {
  right: 0px;
}

#modal-container {
  right: 0;
}

#modal-container .modal-background .modal .modal-svg {
  right: 0;
}

span.close_my_modal {
  left: 20px;
}

.content .buttons .button {
  margin-left: 10px;
}

.news_event_pedia {
  display: none;
}

.news_event_pedia .right_row {
  margin-right: 3%;
}

.news_event_pedia .right_row h5 i,
.news_event_pedia .left_row h5 i {
  padding-right: 10px;
}

.right_row h5,
.left_row h5,
.additional_information_production_row_2 h5,
.additional_information_production_row_3_40 h5,
.additional_information_production_row_3_60 h5 {
  float: left;
  left: 0;
}

.right_row h5::before,
.left_row h5::before,
.additional_information_production_row_2 h5::before,
.additional_information_production_row_3_40 h5::before,
.additional_information_production_row_3_60 h5::before {
  right: 0;
}

.news_event_pedia .right_row .left_row_content .left_row_content_excerpt {
  padding-left: 20px;
}

.news_event_pedia .right_row .left_row_content_title h2 {
  margin-left: 10px;
}

.row_news .content_news {
  padding-left: 5px;
}

.row_news .news_link:hover {
  padding-left: 5px;
}

.left_row_content_read_more {
  text-align: right;
  float: right;
}

.group_row_articles, .group_row_news {
  right: 5px;
}

.group_row_articles:before, .group_row_news:before {
  color: #666;
  content: "\f101";
  font: normal normal normal 1.2rem/1 FontAwesome;
  vertical-align: middle;
  padding-left: 3px;
}

.group_row_articles:hover a, .group_row_news:hover a {
  padding-right: 5px;
}

.case_row_4box ul li:before, .cases_content_services_row_section ul li:before {
  padding-right: 3px;
}

.right_row_4box .right_box_4:first-child {
  border-right: 1px solid #e1e1e1;
}

.right_row_4box .right_box_4:nth-child(3) {
  border-right: 1px solid #e1e1e1;
}

.Show_items {
  float: left;
}

.corner-ribbon {
  right: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Different positions */
.corner-ribbon.top-left {
  right: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-right {
  left: -60px;
  right: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.bottom-left {
  right: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.bottom-right {
  left: -50px;
  right: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.content_services_row_section {
  float: right;
}

i.fa.fa-chevron-left.slick-arrow {
  float: right;
  right: 15px;
  transform: rotate(180deg);
}

i.fa.fa-chevron-right.slick-arrow {
  float: left;
  left: 15px;
  transform: rotate(180deg);
}

.fa-chevron-left:before {
  left: 7px;
}

.fa-chevron-right:before {
  left: 5px;
}

.footer_rows h6 {
  margin-right: 30px;
}

.footer_rows:last-child h6 {
  margin-right: 0;
}

footer .footer_rows ul li a {
  padding-left: 5px;
}

footer .footer_rows ul li a:hover {
  padding-left: 10px;
}

.copyright_right {
  text-align: left;
}

.copyright_left {
  text-align: right;
}

footer .subscriber_form form input[type="email"] {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

footer .subscriber_form form {
  border-top-left-radius: 0;
  border-bottom-left-radius: 10px;
}

footer .subscriber_form form button {
  right: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

footer .social_networks li a:hover {
  padding-left: 5px !important;
}

.breadcrumb a:first-child {
  padding-left: 5px;
  border-left: 1px solid #e1e1e1;
}

.breadcrumb a:last-child {
  border-right: 1px solid #e1e1e1;
}

.breadcrumb a {
  padding-left: 25px;
  line-height: 1.8em;
}

.breadcrumb a:after {
  right: -18px;
  transform: scale(0.607) rotate(45deg);
}

.porduct_information .product_header_in_product_page {
  text-align: left;
}

.porduct_information .product_header_in_product_page .product_title {
  direction: ltr;
}

.porduct_information .product_main_section .product_row2_description {
  padding-left: 10px;
}

.porduct_information .product_main_section .product_description {
  text-align: left;
}

.porduct_information .product_footer .form_send_email_for_notices {
  text-align: left;
}

.btn_group a {
  text-align: left;
}

.btn_group a i {
  padding-right: 10px;
}

.add_to_cart_btn i,
.advice_btn i,
.sample_request_btn i,
.invoice_btn i,
.comparison_btn i {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form_send_email_for_notices input {
  padding-left: 30px;
}

.form_send_email_for_notices i {
  left: 5px;
}

a.favorite_this_product {
  margin-left: 30px;
}

.btn_group_footer a i {
  padding-right: 5px;
}

.btn_group_footer.social_share a i {
  padding-right: 0;
}

.btn_group_footer a {
  margin-right: 15px;
}

.btn_group_footer.social_share a {
  margin-right: 0;
}

.similar_product_row>h5 {
  padding-right: 10px;
  margin-left: 5px;
}

.tab_container .tab-content h3 {
  text-align: left;
}

.tab_container label .fa {
  padding-right: 5px;
}

.additional_information_production_row .additional_information_production_row_1 .additional_information_production_row_1_header .additional_information_production_row_1_header_left {
  text-align: right;
}

.additional_information_production_row .additional_information_production_row_1_content span,
.additional_information_production_row .additional_information_production_row_1_content p,
.additional_information_production_row .additional_information_production_row_1_content strong,
.additional_information_production_row .additional_information_production_row_1_content div,
.additional_information_production_row .additional_information_production_row_1_content em,
.additional_information_production_row .additional_information_production_row_1_content ul,
.additional_information_production_row .additional_information_production_row_1_content li,
.additional_information_production_row .additional_information_production_row_1_content a,
.additional_information_production_row .additional_information_production_row_1_content ol,
.additional_information_production_row .additional_information_production_row_1_content b,
.additional_information_production_row .additional_information_production_row_1_content td,
.additional_information_production_row .additional_information_production_row_1_content tr,
.additional_information_production_row .additional_information_production_row_1_content sub,
.additional_information_production_row .additional_information_production_row_1_content th {
  font-family: 'Roboto', sans-serif !important;
}

.margin2 {
  margin-right: 2%;
}

.encyclopedia_articles_row .article_row a.go_to_article {
  right: 10px;
}

.encyclopedia_articles_row .article_row_title_excerpt {
  text-align: left;
}

.encyclopedia_articles_row .article_row_title_excerpt .article_title h3:hover {
  padding-left: 5px;
}

.encyclopedia_articles_row .article_row_img {
  margin-right: 10px;
}

.encyclopedia_articles_row .article_row_img .comment_count {
  right: 5px;
}

.textarea_comment textarea {
  padding-left: 5px;
}

.textarea_comment_inputs .input_pack_comment .comment_input_row {
  padding-left: 20px;
}

.textarea_comments_tags .textarea_comment_submit_btn button i {
  padding-right: 5px;
}

.textarea_comments_tags .notices_for_user i {
  padding-right: 5px;
}

.notices_for_user p:before {
  padding-right: 5px;
}

.comment_row_section .previous_comments_header h6 {
  float: left;
}

.comment_row_section .previous_comments_header span {
  float: right;
}

.comment_row_section .like_comment,
.comment_row_section .dislike_comment,
.comment_row_section .replay_this_comment {
  margin-right: 15px;
}

.comment_row_section .replay_this_comment i {
  padding-right: 5px;
}

.comment_row_section .like_comment {
  border-right: 2px solid #b3b3b3;
  padding-right: 15px;
}

.responded_comments .reply-head-right h6 {
  float: left;
}

.responded_comments .reply-head-right span {
  float: right;
}

.error_form.error p:before {
  padding-right: 5px;
}

.error_form.warning p:before {
  padding-left: 5px;
}

.error_form.danger p:before {
  padding-left: 10px;
}

.error_form.success p:before, .error_form.danger p:before, .error_form.warning p:before {
  left: 0;
}

#both-register-section1>h2,
#both-register-section2>h2 {
  text-align: left;
}

#both-register-section1 .user_register .fa-envelope,
#both-register-section1 .user_register .fa-user,
#both-register-section1 .user_register .fa-key,
#both-register-section2 .fa-user,
#both-register-section2 .fa-building-o,
#both-register-section2 .fa-info-circle,
#both-register-section2 .fa-internet-explorer,
#both-register-section2 .fa-at,
#both-register-section2 .fa-map-marker {
  padding-right: 5px;
}

#both-register-section2 .fa-phone:nth-child(1) {
  padding-right: 0;
}

#both-register-section2 .fa-phone:nth-child(2) {
  padding-right: 5px;
}

#both-register-section2 .fa-fax,
#both-register-section2 .fa-industry,
#both-register-section2 .fa-picture-o,
#both-register-section2 .fa-file-pdf-o,
#both-register-section2 .fa-tag,
#both-register-section2 .fa-list,
#both-register-section2 .fa-building {
  padding-right: 5px;
}

#both-register-section2 input[type="checkbox"],
#both-register-section2 input[type="radio"] {
  margin-right: 5px;
}

.both-register .grid-dp-18 label,
.both-register .grid-dp-9 label,
.both-register .grid-dp-6 label {
  left: 17px;
  padding-left: 3px;
  border-right: 1px solid #e1e1e1;
}

.login_page .auth-box input,
.resetpassword .auth-box .input_box input,
.forgetpassword .auth-box .input_box input {
  border-left: 3px solid #969696;
}

.login_page .auth-box input:focus,
.resetpassword .auth-box .input_box input:focus,
.forgetpassword .auth-box .input_box input:focus {
  border-left: 3px solid #ffab00;
}

.login_page .auth-box button.submit-btn-auth i {
  padding-right: 5px;
}

a.google_login:before {
  left: 0;
}

.login_page .auth-box button.submit-btn-auth:after {
  left: 10px;
  right: auto;
}

.both-register input,
.both-register textarea,
.both-register select {
  text-align: left;
  border-left: 2px solid #d4d4d4;
}

.both-register input, .both-register textarea {
  padding-left: 65px;
}

.both-register input:focus,
.both-register textarea:focus {
  border-left: 2px solid #ffab00;
}

button#add_category {
  margin-left: 10px;
}

#both-register-section2 input[type="checkbox"],
#both-register-section2 input[type="radio"] {
  float: left;
}

#edit_profile_page .user_info_edit_profile.has-seller {
  float: left;
}

#edit_profile_page .seller_info_edit_profile.has-seller {
  float: left;
}

#edit_profile_page input,
#edit_profile_page select,
#edit_profile_page textarea {
  text-align: left;
  border-left: 2px solid #ffab00;
}

#edit_profile_page input:focus, #edit_profile_page textarea:focus {
  border-left: 2px solid #d4d4d4;
}

#edit_profile_page input[disabled] {
  border-left: 3px solid #d4d4d4;
}

#edit_profile_page h2 {
  text-align: left;
}

.modal-full {
  right: 0;
}

.container-modal-80 {
  left: 50%;
}

.header-modal {
  text-align: left;
  padding-left: 15px;
  padding-left: 0px;
}

.close-modal-cancel {
  float: right;
  font-family: 'Roboto', sans-serif;
  right: 123px;
}

.active-modal-confirm {
  float: right;
  font-family: 'Roboto', sans-serif;
  right: 5px;
}

.wrapper-modal {
  text-align: left;
}

.both-register .footer-register-new .rules_checkbox {
  margin-right: 5px;
  float: left;
}

.content_page .content_content_page ul {
  margin-left: 30px;
}

.aside-search ul .produt-filter-sub {
  padding-left: 10px;
}

.aside-search ul .produt-filter-sub ul {
  padding-left: 10px;
}

.search-list-wrapper .product_box .corner-ribbon.top-left {
  right: -75px;
}

#sidebar-toggle {
  left: 20px;
  right: unset;
  transition: right 0.4s;
}

#sidebar {
  left: 0;
}

#sidebar i {
  padding-right: 5px;
}

#sidebar .responsive_menu_link li a {
  text-align: left;
}

#sidebar .arrow>a:after {
  transform: rotate(90deg);
  right: 10px;
}

#sidebar ul li {
  text-align: left;
}

.card-table legend {
  text-align: right;
}

.inc.button_btn.native_btn_cart {
  float: right;
}

.inc.button_btn.plus_btn_cart {
  float: left;
}

span#loadingAllPrice {
  right: 0;
}

.cart_page .addresses_for_send .add_new_address {
  float: right;
}

.cart_page .receive_address_place h6,
.cart_page .button-row-card h6 {
  padding-right: 10px;
}

.cart_page .button-row-card .left-button-row a.advice-expert-button::before {
  left: 4px;
}

.cart_page .button-row-card .left-button-row a.payment-button::before {
  left: 2px;
}

.cart_page .receive_address_place form button:before {
  left: 2px;
}

.payment_page .online_payment h5:before,
.payment_page .local_payment h5:before {
  padding-right: 10px;
}

.contact_us_page .contact_us_page_right {
  margin-right: 1%;
}

.contact_us_page .contact_us_page_left form input,
.contact_us_page .contact_us_page_left form textarea,
.contact_us_page .contact_us_page_left form select {
  border-left: 2px solid #989898;
}

.contact_us_page .contact_us_page_left form input:focus,
.contact_us_page .contact_us_page_left form textarea:focus,
.contact_us_page .contact_us_page_left form select:focus {
  border-left: 2px solid #ffab00;
}

span.required_field {
  padding-left: 5px;
}

.request_page .request_box input,
.request_page .request_box select,
.request_page .request_box textarea {
  border-left: 2px solid #949494;
}

.request_page a.delete_this_item {
  padding-right: 5px;
}

.request_page a.add_more_item:before {
  float: left;
  padding-right: 11px;
}

.request_page .add_or_remove_item {
  float: right;
}

.request_page .additional_information_request .additional_information_request_right>div {
  margin-right: 10px;
}

.request_page .additional_information_request select {
  border-left: 2px solid #949494;
}

.request_page .additional_information_request select:focus {
  border-left: 2px solid #ffab00;
}

.pdp-default .pdp-header .nextArrow i {
  left: 0;
}

.pdp-default .pdp-header .prevArrow i {
  right: 25px;
}

.request_page .user_info_in_request_page input,
.cart_page .user_info_in_request_page input {
  border-left: 2px solid #949494;
}

.request_page .user_info_in_request_page input:focus,
.cart_page .user_info_in_request_page input:focus {
  border-left: 2px solid #ffab00;
}

.request_page .user_info_in_request_page>div,
.cart_page .user_info_in_request_page form>div {
  margin-right: 1%;
}

.request_page .user_info_in_request_page>div:last-child,
.cart_page .user_info_in_request_page form>div:last-child {
  margin-right: 0;
}

.request_page .send_request_btn {
  text-align: right;
}

.cart_page .btn_cart_page i {
  left: 10px;
}

.track_order_page .insert_code_track_order input {
  padding-left: 115px;
}

.track_order_page .insert_code_track_order button {
  right: 0;
}

.btn_header.active_tab:after {
  right: 50%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-right: -10px;
}

.personal_information .personal_information_right .row_info input {
  border-left: 2px solid #ffab00;
}

.personal_information .personal_information_right .row_info>p {
  border-left: 2px solid transparent;
}

.personal_information .personal_information_left .row_image_user label {
  margin-right: 15px;
}

.personal_information .personal_information_left .row_image_user .input_file_div span::before {
  left: 15px;
}

.user_edit_profile .addresses_for_send h4 i,
.user_edit_profile .personal_information h4 i {
  padding-right: 5px;
}

.addresses_for_send .address_row .previous_addresses {
  margin-left: 5px;
  padding-right: 5px;
}

.addresses_for_send .address_row .previous_addresses .delete_address i {
  float: right;
  padding-right: 5px;
}

.addresses_for_send .add_new_address a {
  float: right;
}

.save_changes_user button {
  float: right;
  margin-left: 5px;
}

.form_add_address .form_section .close_address {
  left: 5px;
}

.form_add_address .form_section .form_address_row select,
.form_add_address .form_section .form_address_row input,
.form_add_address .form_section .form_address_row textarea {
  border-left: 2px solid #ffab00;
}

.favorite_user .title_favorite h4 i {
  padding-right: 5px;
}

.favorite_user a.empty_favorite_list {
  float: right;
}

.favorite_user a.empty_favorite_list i {
  padding-right: 5px;
}

.favorited_product_box .favorited_product_row .favorited_product_cell_2 {
  padding-right: 10px;
}

#lang-menu ul:before {
  left: 18px;
  margin-right: 0;
}

#lang-menu ul {
  left: 0px;
}

#lang-menu span.lang {
  float: left;
  padding-left: 10px;
}

#lang-menu span.lang_brief {
  float: left;
}

.pre_loader {
  right: 0;
}

section.floating_btn {
  right: 10px;
  text-align: right;
  direction: rtl;
}

.floating_btn a.support_floating:before {
  right: 17px;
}

.floating_btn a.contact_floating:before {
  right: 13px;
}

.floating_btn a.email_floating:before {
  right: 10px;
}

.floating_btn .active_floating p {
  float: left;
}

.content_cart_to_cart_page .form_cart_to_cart input {
  border-left: 2px solid #ffab00;
}

.search_articles .search_articles_input input {
  padding-left: 55px;
}

.search_articles .search_articles_button button {
  border-left: 0px solid #b5b5b5;
}

.tags_articles span a:after {
  padding-left: 2px;
}

.short_desc_articles .short_desc_image {
  padding-left: 10px;
  padding-right: 25px;
}

.update_price_page .btn_save_update_price {
  text-align: right;
}

.update_price_page .btn_save_update_price button:before {
  left: 8px;
}

.add_product_page nav {
  right: 0;
}

.add_product_page .tabs>li,
.update_price_page .tabs>li {
  border-right: 2px solid #ffffff;
}

.add_product_page .tabs>li:last-child,
.update_price_page .tabs>li:last-child {
  border-right: unset;
}

.add_product_page .tabs>li i,
.update_price_page .tabs>li i {
  float: left;
}

.add_product_page .tabs>li:before,
.update_price_page .tabs>li:before {
  right: 0;
}

.add_product_page .tab__content>li,
.update_price_page .tab__content>li {
  right: 0;
}

.add_product_page .tab__content>li .content__wrapper,
.update_price_page .tab__content>li .content__wrapper {
  text-align: left;
}

.add_product_page .content__wrapper .row_form .half {
  float: left;
}

.add_product_page .add_more_image {
  right: 5px;
}

.add_product_page .add_more_image i {
  padding-right: 5px;
}

.add_product_page .cke_panel_listItem h1,
.add_product_page .cke_panel_listItem h2,
.add_product_page .cke_panel_listItem h3,
.add_product_page .cke_panel_listItem h4,
.add_product_page .cke_panel_listItem h5,
.add_product_page .cke_panel_listItem h6,
.add_product_page .cke_panel_listItem p,
.add_product_page .cke_panel_listItem pre,
.add_product_page .cke_rtl .cke_combo_text,
.add_product_page .cke_panel_listItem h1,
.add_product_page .cke_panel_listItem h2,
.add_product_page .cke_panel_listItem h3,
.add_product_page .cke_panel_listItem h4,
.add_product_page .cke_panel_listItem h5,
.add_product_page .cke_panel_listItem h6,
.add_product_page .cke_panel_listItem p,
.add_product_page .cke_panel_listItem pre,
.cke_reset_all, .cke_reset_all * {
  font-family: 'Roboto', sans-serif !important;
}

.add_product_page .cke span {
  font-family: 'Roboto', sans-serif !important;
}

.add_product_page .option_main_head {
  padding-left: 5px;
}

.user_info_in_request_page_address .user_info_in_request_page_left input,
.user_info_in_request_page_address .user_info_in_request_page_left select,
.user_info_in_request_page_address .user_info_in_request_page_left textarea {
  border-left: 2px solid #949494;
}

.user_info_in_request_page_address .user_info_in_request_page_left select:focus,
.user_info_in_request_page_address .user_info_in_request_page_left textarea:focus {
  border-left: 2px solid #ffab00;
}

.user_info_in_request_page_address .form_section form>div {
  margin-right: 3.3% !important;
}

.irs {
  direction: rtl;
}

.filter-box-title h6 {
  text-align: right;
}

#my_product .lang_edit li {
  text-align: left;
}

#my_product .lang_edit li a img {
  float: right;
  margin-right: 5px;
}

.product_list_page .add_product_in_product_list {
  float: right;
}

.product_list_page .add_product_in_product_list a {
  float: right;
}

.product_list_page .add_product_in_product_list a i {
  padding-right: 5px;
}

.product_list_page .content_product_list_page #button_key i {
  padding-right: 5px;
}

.jstree-node, .jstree-children, .jstree-container-ul {
  text-align: left;
}

.jstree-node, .jstree-children, .jstree-container-ul {
  text-align: left;
}

.jstree-default.jstree-rtl .jstree-leaf>.jstree-ocl {
  background-position: -53px -36px;
}

.jstree-default .jstree-checkbox {
  background-position: -168px -4px;
}

.jstree-default.jstree-rtl .jstree-node {
  background-position: 0% 1px !important;
}

.jstree-default.jstree-rtl .jstree-open>.jstree-ocl {
  background-position: -133px -36px !important;
}

.jstree-default.jstree-rtl .jstree-closed>.jstree-ocl {
  background-position: -101px -36px !important;
}

.jstree-default.jstree-rtl .jstree-leaf>.jstree-ocl {
  background-position: -69px -36px !important;
}

.wrapper-modal, .jstree-default .jstree-icon:empty, .jstree-rtl .jstree-anchor>.jstree-themeicon, .jstree-default.jstree-rtl .jstree-open>.jstree-ocl, .jstree-default.jstree-rtl .jstree-leaf>.jstree-ocl {
  float: left;
}

.jstree-default.jstree-rtl .jstree-closed>.jstree-ocl, .jstree-default.jstree-rtl .jstree-closed>.jstree-ocl, .jstree-default.jstree-rtl .jstree-leaf>.jstree-ocl, .jstree-default.jstree-rtl .jstree-open>.jstree-ocl {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.articles_tag_page .tags_articles_box_left .description_tag {
  padding-right: 15px;
}

.notif_row a.do_compare:before {
  padding-left: 10px;
}

/******************************Responsive**********************************************/
@media only screen and (max-width: 1000px) {
  #lang-menu ul {
    right: 0;
    left: unset;
  }

  .header_section_1 {
    text-align: center;
  }

  #lang-menu ul:before {
    right: 25px;
    left: unset;
  }

  .btn_group_header {
    right: 0;
    left: unset;
  }

  .news_event_pedia .right_row {
    margin-right: 0%;
  }

  .right_row_4box .right_box_4:first-child {
    border-right: unset;
  }

  .right_row_4box .right_box_4:nth-child(3) {
    border-right: unset;
  }

  .card-table table td {
    text-align: right;
  }

  .card-table table td::before {
    float: left;
  }

  .request_page .request_box .request_box_center>div,
  .request_page .request_box .request_box_left>div {
    float: left;
    margin-right: 0.5%;
  }

  .request_page .add_or_remove_item {
    float: right !important;
    text-align: right;
  }

  .request_page .user_info_in_request_page>div, .cart_page .user_info_in_request_page form>div {
    margin-right: unset !important;
  }

  .table_articles table td {
    text-align: right;
    padding-right: 25px;
  }

  .table_articles table td:last-child {
    padding-right: 0;
  }

  .table_articles table td::before {
    float: left;
  }

  span.close_my_modal {
    right: 1px;
    left: unset;
  }

  .short_desc_text h6 {
    padding-right: 0;
  }

  .profile_page table td {
    text-align: right;
    padding-right: 25px;
  }

  .profile_page table td:last-child {
    padding-right: 0;
  }

  .profile_page table td::before {
    float: left;
  }

  .personal_information .personal_information_left .row_image_user label {
    margin-right: 0;
  }

  .personal_information .personal_information_left .row_image_user .input_file_div span {
    left: 0;
  }

  .addresses_for_send .add_new_address a {
    float: left;
  }

  #my_product .lang_edit {
    text-align: left;
  }

  #my_product .lang_edit li {
    text-align: left;
  }
}

@media only screen and (max-width: 900px) {
  .track_order_page .insert_code_track_order label {
    float: left;
  }

  .track_order_page .insert_code_track_order button {
    float: right;
  }

  .track_order_page .insert_code_track_order input {
    padding-left: unset;
  }

  .add_product_page .tab__content>li .content__wrapper.tab3 .input_form input[type="file"] {
    float: left;
  }

  .favorited_product_box .favorited_product_row .favorited_product_cell_2 {
    padding-right: unset;
  }
}

@media only screen and (max-width: 768px) {
  .slider_home_page_best_sellers_product .slider-nav3 .slick-slide {
    float: left;
  }

  .news_event_pedia .right_row .left_row_content .left_row_content_excerpt {
    padding-left: 0;
  }

  .footer_rows h6 {
    margin-right: 0;
  }

  .addresses_for_send .add_new_address a,
  .save_changes_user button {
    margin-left: 0;
  }

  .form_add_address .form_section .close_address {
    right: 5px;
    left: unset;
  }

  .additional_information_production_row_1_option .option_product .list_option li span:first-child {
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .tiles_image_row.custom_block .tile_title {
    padding-left: 10px;
  }

  .request_page .additional_information_request .additional_information_request_right .select {
    margin-right: 0.5%;
  }

  .addresses_for_send .address_row .previous_addresses {
    padding-right: 0;
  }
}

@media only screen and (max-width: 580px) {
  .add_product_page .table_row_color_front tr td {
    text-align: left;
  }
}

@media only screen and (max-width: 500px) {
  .personal_information .personal_information_left .row_image_user label {
    margin-right: 0;
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .porduct_information .product_main_section .product_row2_description {
    padding-left: 0px;
  }
}